@using GraduateWorkUdovychenko.Domain.Models.Quiz;
@model IEnumerable<Quiz>
<link rel="stylesheet" type="text/css" href="~/Main/css/Quiz.css">


<div class="QuizPlace">

    @foreach (var item in Model)
    {
        <a class="QuizBox" href="@Url.Action("Task", "Lessonds", new {id = item._id.ToString()})">
            <p style="font-size: 35px">
                @item.Name
            </p>
            <p>
                @item.Description
            </p>
        </a>
    }
</div>