@model string

@if (Model == null)
{
    <div class="authblock">
        <div class="information">
            <h1>Вхід</h1>
            <form method="post" asp-controller="Authorization" asp-action="Authorization">
                <div class="inputplace">
                    <h3>E-mail адреса</h3>
                    <input name="Email" type="email" required />
                </div>
                <div class="inputplace">
                    <h3>Пароль</h3>
                    <input name="Password" type="password" required />
                </div>
                <button style="background-color:#d9e7cb" type="submit"><h3>Увійти</h3></button>
            </form>
            <div style="display:flex; margin-bottom:30px; margin-top:15px;">
                <a href="/route/registration"><h3>Реєстрація</h3></a>
            </div>
        </div>
    </div>
}
else
{
    <script lang="js">
        window.onload = function () {
            var token = "@Model";
            const d = new Date();
            d.setTime(d.getTime() + (1 * 24 * 60 * 60 * 1000));
            const expires = "expites=" + d.toUTCString();
            document.cookie = 'token' + "=" + token + ";" + expires + ";path=/";
            window.location.href = ("/route");
        }
    </script>
}





