<link rel="stylesheet" type="text/css" href="~/Main/css/AdminPanel.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="main">
    <a class="AddTaskButton" href="@Url.Action("CreateNewTest", "AdminPanel")">Додати нове завдання</a>
</div>