.main {
    margin-top: 100px;
}

.QuizBox {
    flex-direction: column;
    display: flex;
    background-color: #cfe5b9;
    height: 200px;
    border-radius: 17px;
    border: 2px solid #b7d894;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}

    .QuizBox:hover {
        background-color: #b7d894
    }

    .QuizBox p {
        margin: 5px 0px 5px 0px;
    }

.Welcome {
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

    .Welcome h1 {
    margin-top:0px;
    }
    .Welcome h2 {
    margin-bottom:35px;
    }
