@using GraduateWorkUdovychenko.Domain.ViewModels;
@model IEnumerable<CompletedQuizViewModel>
<link rel="stylesheet" type="text/css" href="~/Main/css/UserPanel.css">


<div class="main">

    <div class="aboutuser">
        <h1> Вітаю @User.Identity.Name!</h1>
        <h2>Віші виконані завдання тут</h2>
    </div>

    @foreach (var item in Model)
    {
        <div class="QuizBox">
            <div class="AboutQuiz">
                <h2>@item.Quiz.Name</h2>
                <h3>@item.Quiz.Description</h3>
            </div>
            <div class="Rating">
                <h2>Оцінка:</h2>
                <h2>@item.Rating / 10</h2>
            </div>
        </div>
    }

</div>