<div class="block triger">
    <ul>
        <li>
            <div class="ddd">
                <h1>
                    Вітаю абітурієнте
                </h1>
                <img src="~/Main/img/hello.svg" />
            </div>
        </li>
        <li>
            <div class="dddd">
                <h2>Тут ти можеш перевірити свій рівень знань з різних предметів.</h2>
                <h2>Худчіш авторизуйся та починай вирішувати завдання!</h2>
            </div>
        </li>
    </ul>
 </div>
<script src="~/Main/js/js.js"></script>